{% extends 'flatpages/default.html' %}

{% load custom_tags %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

<h3>{% current_time '%b %d %Y' %}</h3>


   {% if is_not_subscriber %}
        <p class="tex_center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>

   {% else %}
        <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a></p>
   {% endif %}

<h3>Новостей по категории - "{{ category_news_list|length }}" </h3>


   <h1> {{ category }} </h1>

   {% if category %}
       <table class="table table-bordered" cellspacing="2" cellpadding="3" border="3" width="50%">
           <tr>
               <td>
                   Дата
               </td>
               <td>
                   Категория
               </td>
               <td>
                   Заголовок
               </td>
               <td>
                   Текст статьи
               </td>
           </tr>
           {% for post in category_news_list %}
           <tr>
               <td>{{ post.time_created|date:'d M Y' }}</td>
               <td>
                   <a href="{% url 'category_list' category.id %}">
                   {% for category in post.category.all %}
                        {{ category }}
                    {% endfor %}
                </a>
               </td>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>

           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

      {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}