{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

<h3>{% current_time '%b %d %Y' %}</h3>

<h1>Новостей на странице - "{{ news|length }}" </h1>

   <h1>Все новости</h1>
   <hr>
   {% if news %}
       <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td> <!-- Добавляем ячейку в строку -->
                   Заголовок
               </td>
               <td>
                   Дата
               </td>
               <td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                   Текст статьи
               </td>
           </tr> <!-- Не забываем закрыть HTML-тег строки -->
           {% for post in news %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_created|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>

           </tr>
           {% endfor %}
       </table> <!-- ... и таблицы -->
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}