{% extends 'flatpages/default.html' %}

{% load custom_tags %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

<h3>{% current_time '%b %d %Y' %}</h3>

<h3>Новостей на странице - "{{ news|length }}" </h3>


   <h2>Все новости</h2>

   {% if news %}
       <table class="table table-bordered" cellspacing="2" cellpadding="3" border="3" width="50%">
           <tr>
               <td>
                   Дата
               </td>
               <td>
                   Категория
               </td>
               <td>
                   Заголовок
               </td>
               <td>
                   Текст статьи
               </td>
           </tr>
           {% for post in news %}
           <tr>
               <td>{{ post.time_created|date:'d M Y' }}</td>
               <td>
                   {% for category in post.category.all %}
                   <a href="{% url 'category_list' category.id %}">{{ category }}
                       </a>
                   {% endfor %}
               </a>
               </td>
               <td>
                   <a href="{{ post.get_absolute_url }}"> {{ post.title|censor }} </a> </td>
               <td>{{ post.text|truncatewords:20|censor }}</td>

           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

      {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}